*{
    margin: 0;
    padding: 0;
}
header{
    height: 100vh;
    width: 100%;
    position: relative;
    background: #fff;
}

.logo{
    margin-top: 20px;
    margin-right: 200px;
    
}
.sign{
    background-color: rgb(74, 74, 226);
    color: #fff;
    font-size: 1.2em;
    line-height: 48px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    width: 48%;
    font-weight: bold;
}
.signup{
    margin-top: -4em;
    margin-left: 1100px;
    
}
.image{
    margin-left: 670px;
}
.medium{
    font-weight: bold;
    font-size: 4.2em;
    margin-top: -8em;
    margin-right: 500px;
    color: rgba(0, 0, 0, 0.781);
    font-family: sans-serif;
    margin-left: 10px;
    
}
.foot{
    margin-top: 40px;
    font-size: 1.3rem;
    font-family: sans-serif;
    margin-right: 700px;
    margin-left: 20px;
}
.sign1{
    background-color: rgb(71, 71, 241);
    color: #fff;
    font-size: 1.2em;
    line-height: 68px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    width: 15%;
    font-family: sans-serif;
    font-weight: bold;
}
.signup1{
    margin-top: 2em;
    margin-left: 20px;
    
}